.selected.selected.project.project > .name.name {
  padding: 6px 0px;
  text-align: left;
  margin: 0px 0px 10px -20px;
}

.name.name{
  color: white;
}

@media print {
  .name.name{
    color: black;
  }
}

.page.page {
    background: radial-gradient(circle, #3E7A6F, #103B49);
    border-color: #032631;
}
body{
    background-color: #032631;
}

.highlighted.highlighted::before{
  background-color:#3E7A6F;
  opacity:0.5;
}
