.selected.selected.project.project > .name.name {
  padding: 6px 60px;
  text-align: center;
  margin: 0px 0px 10px 0px;
  border-bottom: 2px solid #83992A;
  color: #3A4900;
}

.page.page > .project.project {
  padding: 0px 48px;
}

.page.page{
  border-color: #83992A;
}

.highlighted.highlighted::before{
  background-color:#D5E88B;
}

.footer.footer{
  bottom: -8px;
}
