.content-img.content-img img {
  max-width: 95%;
}

.content.content .contentTag.contentTag, .nameAnimated.nameAnimated .contentTag.contentTag {
  display: none;
}

.content.content .contentTagText.contentTagText, .nameAnimated.nameAnimated .contentTagText.contentTagText {
  text-decoration: none;
}

#header div:not(.show.show){
  display: none;
}

#bottomLinks{
  display: none;
}
.proPitch.proPitch{
  display: none;
}
.pageControls.pageControls{
  display: none;
}

#pageContainer#pageContainer{
  margin-top:5px;
  margin-bottom: 0px;
}
.showCompleted.showCompleted{
  padding-top: 0;
}

.pageStar.pageStar{
  display: none;
}
.moreControlsButton.moreControlsButton{
  margin-right: 0;
  z-index: 3;
}

#getMoreSpaceButtonTopRight{
  display: none;
}

.parent.parent > .name.name {
  display: none;
}

.children.children {
  border-left: 0px;
}

.footer.footer{
  position: absolute;
  bottom: 0px;
  left:60px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width:200px;
  z-index: 100;
  height:1.2em;
}
.footer.footer h3{
  font-size: 8px;
}
.page.page{
  position: absolute;
  padding: 0;
  border: 2px solid #666666;
}
.selected.selected.project.project > .name.name{
  border-radius: 5px 5px 0 0;
}

.mainTreeRoot.mainTreeRoot{
  min-height: calc(50vh - 70px);
}

.page.page > .project.project {
  margin: 10px 10px;
  padding: 0px 50px;
}

.bottomPadding.bottomPadding{
  display:none;
}

#goParent {
    text-decoration: none;
    display: inline-block;
    margin: 3px 20px;
    padding: 4px 12px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 25%;
}

#goParent:hover {
    background-color: #ddd;
    color: black;
}



@media print {
  @page {
    margin: 0;
  }
  body * {
    visibility: hidden;
  }
  .page.page, .page.page * {
    visibility: visible;
  }

  .page.page{
    zoom:1;
    padding:10px !important;
  }
}
