.content-img img {
  max-width: 95%;
}

.content .contentTag, .nameAnimated .contentTag {
  display: none;
}

.content .contentTagText, .nameAnimated .contentTagText {
  text-decoration: none;
}

#header div:not(.show){
  display: none;
}

#bottomLinks{
  display: none;
}
.proPitch{
  display: none;
}
.pageControls{
  display: none;
}

#pageContainer{
  margin-top:5px;
}
.showCompleted{
  padding-top: 0;
}

.pageStar{
  display: none;
}
.moreControlsButton{
  margin-right: 0;
  z-index: 3;
}

#getMoreSpaceButtonTopRight{
  display: none;
}

.parent > .name {
  display: none;
}

.children {
  border-left: 0px;
}

.footer{
  display: none;
}

.page{
  position: absolute;
  padding: 0;
}


body{
  min-height: 100vh;
}

.mainTreeRoot{
  min-height: calc(50vh - 70px);
}

.page > .project {
  margin: 10px 10px;
  padding: 0px 50px;
}

#goParent {
    text-decoration: none;
    display: inline-block;
    margin: 3px 20px;
    padding: 4px 12px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 25%;
}

#goParent:hover {
    background-color: #ddd;
    color: black;
}



@media print {
  @page {
    margin: 0;
  }
  body * {
    visibility: hidden;
  }
  .page, .page * {
    visibility: visible;
  }

  .page{
    zoom:1;
    padding:10px !important;
  }
}
