#pageContainer{
    position: relative;
    height:150%;
    background-color:rgb(246,246,246);
    margin: 2px 10px 2px 10px;
}
#preview{
  padding: 2px;
  border: 1px solid black;
}

.page{
  margin: 0 0px 0 0px;
  padding:5px 0 20px 0;
  background-color:rgb(255,255,255);
}

.page > .project {
    margin: 10px 10px;
    padding: 0px 50px;
}

.selected.project>.name {
    font-size: 20px;
}
.name>.content {
    position: relative;
    display: block;
    letter-spacing: inherit;
}

.bullet{
    background-image: url(https://workflowy.com/media/i/bullet.svg);
    height: 18px;
    width: 18px;
    border-radius: 12px;

    position: absolute;
    left: -20px;
    margin-left: 1px;
}

.bullet:hover{
  background-color: #e0e0e0;
}

.children {
    position: relative;
    margin-left: 40px;
    padding-left: 5px;
}


body {
    background-color: rgba(0,0,0,0) !important;
}
